<div class="register-page">
  <div class="register-page-salutation"></div>
  <div class="register-page-form">
    <form [formGroup]="registerForm">
      <div class="register-page-form-user-input">
        <nz-input-group [nzPrefix]="prefixTemplateUser">
          <input
            formControlName="username"
            type="text"
            nz-input
            placeholder="Enter your username"
          />
        </nz-input-group>

        <ng-template #prefixTemplateUser
          ><span nz-icon nzType="user"></span
        ></ng-template>
      </div>

      <div class="register-page-form-password-input">
        <nz-input-group [nzSuffix]="suffixTemplate">
          <input
            formControlName="password"
            [type]="passwordVisible ? 'text' : 'password'"
            nz-input
            placeholder="Enter your password"
          />
        </nz-input-group>

        <ng-template #suffixTemplate>
          <span
            nz-icon
            [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordVisible = !passwordVisible"
          ></span>
        </ng-template>
      </div>

      <div class="register-page-form-password-confirm-input">
        <nz-input-group [nzSuffix]="suffixTemplate">
          <input
            formControlName="passwordConfirm"
            [type]="passwordVisible ? 'text' : 'password'"
            nz-input
            placeholder="Enter your password again"
          />
        </nz-input-group>

        <ng-template #suffixTemplate>
          <span
            nz-icon
            [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordVisible = !passwordVisible"
          ></span>
        </ng-template>
      </div>
    </form>
  </div>
  <div class="register-page-footer">
    <a nz-button nzType="link" (click)="backToLogin()">Back</a>
    <button
      nz-button
      nzType="primary"
      [nzLoading]="loadingButton"
      (click)="registerUser()"
    >
      Done
    </button>
  </div>
</div>
