<div class="register-page">
  <img src="assets/logo.svg" alt="logo" class="login-page-logo" />
  <div class="register-page-form">
    <form [formGroup]="registerForm">
      <div class="register-page-form-user-input">
        <nz-input-group [nzPrefix]="prefixTemplateUser">
          <input
            formControlName="username"
            type="text"
            nz-input
            placeholder="Enter your username"
            required="required"
          />
        </nz-input-group>

        <ng-template #prefixTemplateUser
          ><span nz-icon nzType="user"></span
        ></ng-template>
      </div>

      <div class="register-page-form-password-input">
        <nz-input-group [nzSuffix]="suffixTemplate">
          <input
            formControlName="password"
            [type]="passwordVisible ? 'text' : 'password'"
            nz-input
            placeholder="Enter your password"
            required="required"
            (keyup)="passwordsMatch()"
          />
        </nz-input-group>

        <ng-template #suffixTemplate>
          <span
            nz-icon
            [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordVisible = !passwordVisible"
          ></span>
        </ng-template>
      </div>

      <div class="register-page-form-password-confirm-input">
        <nz-input-group [nzSuffix]="suffixTemplate2">
          <input
            formControlName="passwordConfirm"
            [type]="passwordConfirmVisible ? 'text' : 'password'"
            nz-input
            placeholder="Enter your password again"
            required="required"
            (keyup)="passwordsMatch()"
          />
        </nz-input-group>

        <ng-template #suffixTemplate2>
          <span
            nz-icon
            [nzType]="passwordConfirmVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordConfirmVisible = !passwordConfirmVisible"
          ></span>
        </ng-template>
      </div>
    </form>
  </div>
  <div class="register-page-footer">
    <a nz-button nzType="link" (click)="backToLogin()">Back</a>
    <button
      nz-button
      nzType="primary"
      [nzLoading]="loadingButton"
      (click)="registerUser()"
      [disabled]="!registerForm.valid || passwordsMatch()"
    >
      Done
    </button>
  </div>
</div>
