<div class="login-page">
  <div class="login-page-form">
    <form>
      <div class="login-page-form-user-input">
        <nz-input-group [nzPrefix]="prefixTemplateUser">
          <input type="text" nz-input placeholder="Enter your username" />
        </nz-input-group>

        <ng-template #prefixTemplateUser
          ><span nz-icon nzType="user"></span
        ></ng-template>
      </div>

      <div class="login-page-form-password-input">
        <nz-input-group [nzSuffix]="suffixTemplate">
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            nz-input
            placeholder="Enter your password"
          />
        </nz-input-group>

        <ng-template #suffixTemplate>
          <span
            nz-icon
            [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordVisible = !passwordVisible"
          ></span>
        </ng-template>
      </div>
    </form>
  </div>

  <div class="login-page-footer">
    <button nz-button nzType="text">Sing up</button>

    <button
      nz-button
      nzType="primary"
      (click)="login()"
      [nzLoading]="loadingButton"
    >
      Sing in
    </button>
  </div>
</div>
