.home {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;

  &-menu {
    background-color: #141414;
    width: 100%;
    button {
      width: 100%;
    }

    &-footer {
      cursor: pointer;
      position: absolute;
      bottom: 0;

      &-user {
        margin: 16px 0 16px 16px;
        display: flex;
        align-items: center;
        gap: 10px;

        span {
          background-color: #2624b0;
          padding: 8px;
          border-radius: 50%;
        }

        p {
          margin: 0;
        }
      }
    }
  }
}
