<div class="receivesol">
  <div class="receivesol-menu">
    <ul nz-menu nzMode="inline" nzTheme="dark">
      <!-- <li nz-menu-item nz-tooltip nzTooltipPlacement="right" nzSelected>
        <span nz-icon nzType="home"></span>
        <span>home</span>
      </li> -->

      <li
        nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
        nzSelected
        (click)="changePage('Account')"
      >
        <span nz-icon nzType="wallet"></span>
        <span>Account</span>
      </li>

      <li
        nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
        (click)="changePage('paymantLinks')"
      >
        <span nz-icon nzType="link"></span>
        <span>Payment links</span>
      </li>

      <li
        nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
        (click)="changePage('permalinks')"
      >
        <span nz-icon nzType="pushpin" nzTheme="outline"></span>
        <span>Permalink</span>
      </li>
    </ul>

    <div
      class="receivesol-menu-footer"
      nz-popover
      nzPopoverTrigger="click"
      [nzPopoverContent]="contentTemplate"
      nzPopoverPlacement="right"
    >
      <div class="receivesol-menu-footer-user">
        <span nz-icon nzType="user" nzTheme="outline"></span>
        <p>{{ userName }}</p>
      </div>

      <ng-template #contentTemplate>
        <a (click)="singOut()"
          ><span nz-icon nzType="logout" nzTheme="outline"></span> Sing out</a
        >
      </ng-template>
    </div>
  </div>

  <div class="receivesol-content">
    <app-account *ngIf="account"></app-account>
    <app-payment-links *ngIf="paymantLinks"></app-payment-links>
    <app-options-permalink *ngIf="permalinks"></app-options-permalink>
  </div>
</div>
